<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html::head">
    <title>PaymentForm</title>
</head>
<body class="container">

<div th:replace="index.html::navmenu">

</div>
<!--<h1 class="page-header"></h1>-->
<h2>Shopping Cart</h2>

<form role="form" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">

    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" th:value="${cuentaNegocio}" value="....">
    <input type="hidden" name="currency_code" value="USD">

    <!-- Para uso general, tienen 256 caractares para utilizar -->
    <input type="hidden" name="custom" value="{'param1': 'valor1', 'param2' : 'valor2'}">

    <input type="hidden" name="cbt" value="Completar proceso de Compra"> <!-- Información para mostrar-->
    <input type="hidden" name="rm" value="2"> <!-- Indicando que haga un redirect por el metodo POST -->
    <input type="hidden" name="return" value="http://localhost:8080/microservicio-usuario/processPaymentPaypal">
    <input type="hidden" name="cancel_return" value="http://localhost:8080/">

    <div class="form-group" >
        <label for="invoice">INVOICE:</label>
        <input type="text"  th:value="${invoice_id}" class="form-control" id="invoice" name="invoice" placeholder="FA1234" required="required" readonly>
    </div>
    <div class="form-group">
        <label for="item_name">Item Name:</label>
        <input type="text" th:value="${item_name}" class="form-control" id="item_name" name="item_name" placeholder="Nombre descriptivo" required="required" readonly>
    </div>
    <div class="form-group" >
        <label for="amount">Total:</label>
        <input type="number" th:value="${total}" class="form-control" id="amount" name="amount" placeholder="Monto de la compra" required="required" readonly>
    </div>

    <table class="table table-hover">
        <thead>
<!--        <tr>-->
<!--            <th colspan="3" style="text-align: center">Shopping Cart</th>-->
<!--        </tr>-->
        <tr>
            <th>ID</th>
            <th>Item</th>
            <th>Valor</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="product :${cartItems}">
            <td th:text="${product.pid}"></td>
            <td th:text="${product.productName}"></td>
            <td th:text="${product.price}"></td>
        </tr>
<!--        <tr>-->
<!--            <td>2</td>-->
<!--            <td>Items #2</td>-->
<!--            <td>XX</td>-->
<!--        </tr>-->
        </tbody>
        <tfoot>
        <th></th>
        <th></th>
        <th  th:text="${total}" ></th>
        </tfoot>
    </table>

    <button type="submit" class="btn btn-primary">Check out </button>
</form>

<!-- incluyendo la parte de javascript del template.        -->
<div th:replace="template.html::javascript">

</div>
</body>
</html>