<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="template.html::head">
    <meta charset="UTF-8">
    <title>Work Solicitude Detail</title>
</head>
<body class="container">
<h2>Work Solicitudes</h2>
    <div th:replace="index.html::navmenu">

    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully edit the Work Solicitude</div>
            </div>

            <h1>Work Solicitude Detail</h1>
            <form th:action="@{/postWorkSolicitude}" th:object="${work}" method="post">

                <!--                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"-->
                <!--                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation-->
                <!--                    error</p>-->

                <div class="form-group">
                    <label for="id" class="control-label">ID</label>
                    <input id="id" class="form-control" th:field="*{id}" readonly  />
                </div>

                <div class="form-group">
                    <label for="customer_email" class="control-label">Customer</label> <input
                        id="customer_email" class="form-control" th:field="*{customer_email}" readonly autofocus="autofocus"  />
                </div>

                <div class="form-group">
                    <label for="order_date" class="control-label">Order Date</label>
                    <input id="order_date" class="form-control" th:field="*{order_date}"  readonly  />
                </div>



                <div class="form-group">
                    <label for="employee_asig" class="control-label">Employee</label>
                    <select id="employee_asig" name="employee_asig" class="form-control col-md-5" th:field="*{employee_asig}" required autofocus="autofocus">
                        <!--                        <option value="ADMIN" selected>ADMIN</option>-->
                        <option  th:each="employee :${employees}" th:value="${employee.email}" th:text="${employee.email}" ></option>
                    </select>
                </div>



                <div class="form-group">
                    <label for="status" class="control-label">Employee</label>
                    <select id="status" name="status" class="form-control col-md-5" th:field="*{status}" required autofocus="autofocus"
                            >
                        <!--                        <option value="ADMIN" selected>ADMIN</option>-->
                        <option th:each="s :${status}" th:value="${s}" th:text="${s}" ></option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Save</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!-- incluyendo la parte de javascript del template.        -->
<div th:replace="template.html::javascript">

</div>

</body>
</html>