<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Work Solicitude Detail</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body class="container">
<h2>Work Solicitudes</h2>
    <div th:replace="index.html::navmenu">

    </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">You've successfully edit the Work Solicitude</div>
            </div>

            <h1>Work Solicitude Detail</h1>
            <form    action="http://localhost:8080/microservicio-usuario/postWorkSolicitude"    th:object="${work}" method="post">

                <!--                <p class="error-message" th:if="${#fields.hasGlobalErrors()}"-->
                <!--                   th:each="error : ${#fields.errors('global')}" th:text="${error}">Validation-->
                <!--                    error</p>-->

                <div class="form-group">
                    <label for="id" class="control-label">ID</label>
                    <input id="id" class="form-control" th:field="*{id}" readonly  />
                </div>

                <div class="form-group">
                    <label for="customer_email" class="control-label">Customer</label> <input
                        id="customer_email" class="form-control" th:field="*{customer_email}" readonly autofocus="autofocus"  />
                </div>

                <div class="form-group">
                    <label for="order_date" class="control-label">Order Date</label>
                    <input id="order_date" class="form-control" th:field="*{order_date}"  readonly  />
                </div>



                <div class="form-group">
                    <label for="employee_asig" class="control-label">Employee</label>
                    <select id="employee_asig" name="employee_asig" class="form-control col-md-5" th:field="*{employee_asig}"  autofocus="autofocus">
                        <!--                        <option value="ADMIN" selected>ADMIN</option>-->
                        <option  th:each="employee :${employees}" th:value="${employee.email}" th:text="${employee.email}" ></option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="total" class="control-label">Total</label>
                    <input id="total" class="form-control" th:field="*{total}"    />
                </div>



                <div class="form-group">
                    <label for="status" class="control-label">Status</label>
                    <select id="status" name="status" class="form-control col-md-5" th:field="*{status}" required autofocus="autofocus"
                            >
                        <!--                        <option value="ADMIN" selected>ADMIN</option>-->
                        <option th:each="s :${status}" th:value="${s}" th:text="${s}" ></option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success"  >Save</button>
                </div>

            </form>
        </div>
    </div>
</div>


<!--&lt;!&ndash; incluyendo la parte de javascript del template.        &ndash;&gt;-->
<!--<div th:replace="template.html::javascript">-->

<!--</div>-->

    <script>
<!--        function post(){-->

<!--               var frm=$("#form"); //Identificamos el formulario por su id-->
<!--               var datos = frm.serialize();  //Serializamos sus datos-->
<!--               console.log(datos);-->


<!--        }-->
    </script>

</body>
</html>